<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(title=#{localauthority.label}, content=~{::section})}">
<head>
    <meta charset="UTF-8"/>
    <title>localauthority</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" media="screen"/>
</head>
<body>
<section>
<div th:if="${localauthority}">
    <table>
        <tr>
            <th class="pr-3" scope="row" th:text="#{localauthority.id.label}">id</th>
            <td th:text="${localauthority.id}">...</td>
        </tr>
        <tr>
            <th class="pr-3" scope="row" th:text="#{localauthority.name.label}">name</th>
            <td th:text="${localauthority.name}">...</td>
        </tr>
        <tr>
            <th class="pr-3" scope="row" th:text="#{localauthority.uri.label}">uri</th>
            <td th:text="${localauthority.uri}">...</td>
        </tr>
        <tr>
            <th class="pr-3" scope="row" th:text="#{localauthority.type.label}">type</th>
            <td th:text="${localauthority.type}">...</td>
        </tr>
        <tr>
            <th class="pr-3" scope="row" th:text="#{localauthority.municipality.label}">municipality</th>
            <td th:text="${localauthority.municipality}">...</td>
        </tr>
        <tr>
            <th class="pr-3" scope="row" th:text="#{localauthority.county.label}">county</th>
            <td th:text="${localauthority.county}">...</td>
        </tr>
    </table>
    <br/><br/>
    <div th:if="not ${allowDelete}">
        <a th:href="@{/localauthority/{localauthorityId}/edit(localauthorityId=${localauthority.id})}"  th:text="#{default.button.edit.label}">Edit</a> |
        <a th:href="@{/localauthority/{localauthorityId}/delete(localauthorityId=${localauthority.id})}"  th:text="#{default.button.delete.label}">Delete</a>
    </div>
    <form th:if="${allowDelete}" th:action="@{/localauthority/{localauthorityId}/delete(localauthorityId=${localauthority.id})}" method="POST">
        Delete this localauthority? <button type="submit" class="btn btn-danger" th:text="Yes">Yes</button>
        <a class="btn btn-secondary" th:href="@{/localauthority/list}" href="list.html" role="button" th:text="#{default.button.cancel.label}">Cancel</a>
    </form>

    <hr/>

    <div>
        <table class="table table-striped">
            <tr>
                <th th:text="#{datasetmatrix.label}">Dataset matrix</th>
                <th>Code</th>
            </tr>
            <tr th:each="it : ${codelist}">
                <td th:text="${it.key.title}">Vornamen</td>
                <td th:text="${it.value}">https://example.org/upload?code=cc180990-c564-4050-b880-31c3ae97aa18</td>
            </tr>
        </table>
    </div>

</div>
<div th:if="${errorMessage}" th:text="${errorMessage}" class="error"></div>
</section>
</body>
</html>
