<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layout :: layout(title='Open-Data-Uploader - Admin', content=~{::section})}">
<head>
    <meta charset="UTF-8"/>
    <title>Open-Data-Uploader - Admin</title>
</head>
<body>
<section>

    <ul>
        <li><a href="datasetmatrix/list.html" th:href="@{/datasetmatrix/list}">Datensatz-Matrix</a></li>
        <li><a href="dataset/list.html" th:href="@{/dataset/list}">Datensätze</a></li>
    </ul>

    <hr/>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Abmelden"/>
    </form>

</section>
</body>
</html>
